/* General Styles */
body {
    font-family: 'Jumper Regular', sans-serif;
    color: #334e7e;
}

.hero {
    padding: 100px 0;
    background-color: #a3b5ce;
    color: #334e7e;
}

section h2 {
    font-weight: bold;
}

.text-primary {
    color: #334e7e !important;
}

/* Button Styles */
.btn-primary {
    background-color: #e57536;
    border-color: #e57536;
}
.btn-primary:hover {
    background-color: #cc6532;
    border-color: #cc6532;
}

/* Navbar Styles */
.navbar-dark .navbar-brand {
    color: #e57536;
}
.navbar-dark .nav-link {
    color: #ffffff !important;
}
.navbar-dark .nav-link:hover {
    color: #a3b5ce !important;
}

/* Contact Section */
#contact {
    background-color: #334e7e;
}
.btn-light {
    background-color: #ffffff;
    color: #334e7e;
}

.section-heading {
    margin: 80px;
    text-align: center;
    color: #334e7e; /* Adjust based on your primary color */
}


